.conferencep{
    padding: 200px 0;
  }
  
.conferencep__title{
    font-size: 38px;
    font-weight: 500;
    padding: 0 0 65px;
    text-align: center;
  }
  
.conferencepdc__item{
    padding-right: 50px;
  }
.gtc__img{
  width: auto;
  max-width: 100%;
}  
.gtc2__title{
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}
.gtc__desc{
  margin:20px;
  display: box;
  font-size: 17px;
  display: -webkit-box;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  border-top: 2px solid #555;
  padding-top: 20px;
  margin-bottom: 20px;
}
.hoitruong{
  margin-top: 5px;
  font-size: 34px;
  font-weight: 500;
  padding: 0 0 65px;
  text-align: center;
}
.ht{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.ht__img{
  overflow: hidden;
  object-fit: cover;
  transform: scale(1.1);
  transition: all 0.5s;
}
.ht_place{
  font-size: 15px;
  margin-top: 20px;
}
.ht__title{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}
.ttll__title{
  margin-top: 5px;
  font-size: 34px;
  font-weight: 500;
  padding: 0 0 65px;
  text-align: center;
}
.ttll__ct{
  display: table;
  table-layout: fixed;
  border-spacing: 10px 0;
  width: max-content;
  font-weight: 500;
  font-size: 18px;
  margin-left: 30px;
  border: 1px solid #000; 
  margin: 5px;
  padding: 8px; 
}
.ttll__number{
    margin-top: -28px;
    margin-left: 450px;
}
.ttll__fax{
  margin-left: 850px;
  margin-top: -28px;
}
.ms__title{
  margin-top: 100px;
  font-size: 34px;
  font-weight: 500;
  padding: 0 0 65px;
  text-align: center;
}
.ms{
  display:flex;
}
.ms__ct{
  margin: 20px;
  font-size: 20px;
  font-weight: 500;
}
.ms__image{
margin-bottom: 15px;
display: block;
}
.ms__image img{
  width: 600px;
}
.ms__info2{
font-size: 16px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 60px;
}
@media (max-width: 575.98px){
  .weddingandconference__item{
      padding-right: 10px;
      padding-left: 10px;
  }
  .weddingandconference__title{
      font-size: 40px;
      color: #998465;
      padding-right: 10px;
      padding-left: 10px;
  }
  
}
